/* Index/Gallery.css */

nav .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c9c9c9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: yellow;
  text-shadow: 2px 2px 8px #FF0000;
     font-size: 18px;
  position: relative;
    left: 550px;
    top: 50px;
}

div.container {
  padding: 10px;
}
#shadow-box1 {
    border-radius: 15px 50px;
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px 5px grey;
    font-family: 'OpenSans';
    text-shadow: 2px 2px 8px #FF0000;
     font-size: 18px;
}
#shadow-box2 {
    position: relative;
     left: 1000px;
    border-radius: 15px 50px;
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px 5px grey;
    font-family: 'OpenSans';
    text-shadow: 2px 2px 8px #FF0000;
     font-size: 18px;
}
#shadow-box3 {
    position: relative;
    border-radius: 15px 50px;
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px 5px grey;
    font-family: 'OpenSans';
    text-shadow: 2px 2px 8px #FF0000;
     font-size: 18px;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
body {
    background-color: blue;
}
h1 {
    color: white;
}
h3 {
    color: red;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: red;
}
input[type=submit]{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}